:root {
  /* Radiant White */
  --alabaster: #e6ebe0;
  --light-yellow: #fdfcdc;
  --baby-powder: #f9f7f3;
  --white-smoke: #f4f4f4;
  --honey-dew: #f1ffe7;
  --magnolia: #efe9f4;
  --linen: #efe6dd;
  --beige: #f5f7dc;
  --ghost-white: #fbfbff;
  --platinum: #dbdbdb;
  --timberwolf: #d1d1d1;
  --lavender: #eeeeff;
  --white: #fefcfb;
  --papaya-whip: #FFF1D0;
  --anit-flash-white: #EFF1F3;
  --mint-cream: #F7FFF6;

  /* Nox */
  --english-viotel: #3f3244;
  --eerie-black: #171d1c;
  --oxford-blue: #0C1B33;
  --charcoal: #394053;
  --jet: #363635;
  --licorice: #220901;

  /* Pop */
  --web-orange: #fcab10;
  --jonquil: #F0C808;
  --maize: #FCEC52;
  --yellow-green: #ADE25D;
  --rojo: #DD1C1A;
  --rust: #BC3908;
  --penn-red: #941B0C;
  --poppy: #DF2935;
  --sun-glow: #FDCA40;
  --crayola-blue: #3772FF;
  --raspberry: #DD1155;
  --persian-red: #bb4430;

  /* Pastel */
  --olivine: #B2BD7E;
  --jasmine: #FFEE88;
  --melon: #f4b9b2;
  --mustard: #FED766;
  --lilght-orange: #F5CDA7;
  --atomic-tangerine: #F5CDA7;
  --tea-green: #daedbd;
  --burnt-sienna: #de6b48;
  --vanilla: #dcdba8;
  --khaki: #B2AA8E;
  --coffee: #81523F;
  --coral: #FF8360;
  --flax: #E8E288;
  --mantis: #7DCE82;
  --turquoise: #3CDBD3;
  --ultra-violet: #5D5179;
  --periwinkle: #B8B8FF;
  --antique-white: #FFEEDD;
  --apricot: #FFD8BE;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}