.bgImg {
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}
.introLogo {
  z-index: 4;
  width: 256px;
  height: 256px;
  padding: 12px;
}
.introContent {
  z-index: 1;
  display: grid;
  grid-template-columns: 56% 42%;
  column-gap: 1%;
  height: 88vh;
  justify-content: center;
}
.introSubContent1 {
  z-index: inherit;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60%;
}
.subContent1 {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 24% 24% 24% 24%;
  row-gap: 1%;
  text-align: left;
}
.subContentItem {
  color: var(--white-smoke);
  font-weight: bolder;
}
.subContentItem hr {
  border-color: var(--white-smoke);
}
.subContent1Item {
  padding: 4px;
  font-size: 22px;
  height: max-content;
  align-items: center;
  background-image: linear-gradient(90deg, var(--persian-red), transparent);
}
.subContent2Item {
  padding: 4px;
  font-size: 22px;
  height: max-content;
  align-items: center;
  background-image: linear-gradient(90deg, var(--yellow-green), transparent);
}
.subContent3Item {
  padding: 4px;
  font-size: 22px;
  height: max-content;
  align-items: center;
  background-image: linear-gradient(90deg, var(--crayola-blue), transparent);
}
.subContent4Item {
  padding: 4px;
  font-size: 22px;
  height: max-content;
  align-items: center;
  background-image: linear-gradient(90deg, var(--periwinkle), transparent);
}
.subContentDate {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 3em;
}
.subContent1Layout {
  display: grid;
  grid-template-columns: 30% 2% 58%;
  column-gap: 2%;
}
.subContent2 {
  text-align: left;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #121113, -1px -1px 2px #fff, 1px 1px 2px #555;
  backdrop-filter: blur(5px);
  font-size: 2em;
  padding: 12px;
  margin-top: 50%;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  color: var(--white-smoke);
}
@media only screen and (max-width: 587px) {
  .introContent {
    display: flex;
    flex-direction: column;
    gap: 4em;
    height: max-content;
  }
  .subContent1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 19% 19% 19% 19%;
    row-gap: 20%;
    text-align: left;
  }
  .introLogo {
    width: 64px;
    height: 64px;
  }
  .subContent2 {
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
  }
}
